/Applications/.vs
/Applications/Applications.ApiService/bin
/Applications/Applications.ApiService/obj
/Applications/Applications.AppHost/bin
/Applications/Applications.AppHost/obj
/Applications/Applications.ServiceDefaults/obj
/Applications/Applications.ServiceDefaults/bin
/Applications/Applications.Web/bin
/Applications/Applications.Web/obj
/Applications/Fluent/bin
/Applications/Fluent/obj
